<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>

<h5>Dashboard</h5>
<div class="row">
    <div class="col-lg-3 pb-3" style="background-color:#e9e6e6">
        <div class="row">
            <div class="col-11 text-white text-center mx-2 rounder pt-2 pv-2 font-weight-bold" style="background-color: #a39e9e; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ Designation }}</div>
        </div>
    </div>
    <div class="col-lg-6">Box 2</div>
    <div class="col-lg-3">Box 3</div>
</div>